.progress{
    position: fixed;
    width: 100%;
    max-width: 1024px;
    top: 60px;
    bottom: 60px;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    &__inner{
        width: 100px;
        height: 50px;
        background: url('~@/assets/imgs/ico_loading.gif') no-repeat center;
        background-size: 100% auto;
        border-radius: 4px;
    }
}