.header{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $header-height;
    background: $color-white;
    z-index: 100;
    &__logo{
        color: $color-blue;
        svg{
            width: 18px;
            height: auto;
        }
    }
}